aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp_socks==0.11.0
aiosignal==1.4.0
ansible-compat==25.12.0
ansible-core==2.20.2
ansible-lint==26.1.1
attrs==25.4.0
black==26.1.0
bracex==2.6
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-help-colors==0.9.4
cryptography==46.0.5
distro==1.9.0
dnspython==2.8.0
enrich==1.2.7
filelock==3.21.0
frozenlist==1.8.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matrix-nio==0.25.2
mdurl==0.1.2
molecule==25.12.0
molecule-plugins==25.8.12
multidict==6.7.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.6.0
pluggy==1.6.0
propcache==0.4.1
proxmoxer==2.2.0
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.19.2
python-socks==2.8.1
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
resolvelib==1.2.1
rich==14.3.2
rpds-py==0.30.0
ruamel.yaml==0.19.1
subprocess-tee==0.4.2
unpaddedbase64==2.1.0
urllib3==2.6.3
wcmatch==10.1
yamllint==1.38.0
yarl==1.22.0
